@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

html {
  font-size: 16px;
}

body {
  scroll-behavior: smooth;
}

/* ---------------------------------- */
/*              SECTIONS              */
/* ---------------------------------- */

#hero {
  padding: 3.2rem 0 5.6rem 0;
}

#opening {
  padding: 5.6rem 0;
}

#menus {
  padding: 0 0 5.6rem 0;
}

#logos {
  padding: 4.8rem 0;
}

#about {
  padding: 2.4rem 0 4.8rem 0;
}

#hours {
  padding: 1.2rem 0;
}

#testimonials {
  padding: 2.4rem 0 4.8rem 0;
}

/* ---------------------------------- */
/*               GENERAL              */
/* ---------------------------------- */

.bg-custom {
  background-color: #f4e5e1;
}

.text-main {
  color: #065346;
}

.bg-main {
  background-color: #065346;
}

/* ---------------------------------- */
/*               NAVBAR               */
/* ---------------------------------- */

.navbar_logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.navbar-nav a {
  font-weight: bold;
}

.navbar-nav a:hover {
  color: #05493d;
}

/* ---------------------------------- */
/*                HERO                */
/* ---------------------------------- */

.btn {
  width: 40%;
  border: none;
  background-color: #065346;
  color: #fff;
  transition: all 0.3s;
}

.btn:hover {
  color: #fff;
  background-color: #05493d;
}

.img-box img {
  border-radius: 1rem;
  filter: contrast(90%);
  object-fit: cover;
}

#hero .btn {
  transition: all 0.3s;
}

#hero .btn:hover {
  background-color: #05493d;
  color: #fff;
  transform: translateY(-3px);
  box-shadow: 0 5px 1rem rgba(0, 0, 0, 0.6);
}

#hero .btn:active {
  transform: translateY(0px);
  box-shadow: 0 5px 1rem rgba(0, 0, 0, 0.3);
}
/* ---------------------------------- */
/*                LOGOS               */
/* ---------------------------------- */

.logo {
  width: 150px;
}

/* ---------------------------------- */
/*                MENUS               */
/* ---------------------------------- */

.card {
  transition: all 0.3s;
  box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.2);
}

.card:hover {
  transform: translateY(-1rem);
}

.card img {
  width: 100%;

  filter: contrast(80%);
  object-fit: cover;
  overflow: hidden;
}
@media (max-width: 1200px) {
  .card-text {
    font-size: 14px;
  }

  .card h5 {
    font-size: 18px;
  }
}

.card i {
  color: #065346;
  font-size: 1.2rem;
  margin-right: 0.5rem;
}

.card-body a {
  display: inline-block;
  padding: 0.1rem 1rem;
  border-radius: 3px;
  transition: all 0.3s;
}

.card-body a:hover {
  background-color: #065346;
  color: #fff;
}

/* ---------------------------------- */
/*              ÜBER UNS              */
/* ---------------------------------- */

#about .container {
  background-color: #065346;
  box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.2);
}

#about img {
  width: 100%;
  filter: grayscale(10%);
}

@media (max-width: 768px) {
  #about p {
    font-size: 17px;
  }
}

/* ---------------------------------- */
/*               OPENING              */
/* ---------------------------------- */

.opening-box {
  width: 50%;
  border-radius: 20px;
  background-image: linear-gradient(
      to right bottom,
      rgba(6, 83, 70, 0.5),
      rgba(6, 83, 70, 0.5)
    ),
    url(../img/opening.jpg);
  background-position: center;
  background-color: rgba(6, 83, 70, 0.5);
}

@media (max-width: 768px) {
  #opening h3 {
    font-size: 22px;
    margin-bottom: 1rem;
  }
}

/* ---------------------------------- */
/*                HOURS               */
/* ---------------------------------- */

@keyframes animatedHeader {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(40%);
  }

  100% {
    transform: translateX(0);
  }
}

.animated-header {
  animation: animatedHeader 5s linear infinite alternate;
}

#hours .btn:active {
  background-color: #05493d;
  color: #fff;
}

/* ---------------------------------- */
/*            TESTIMONIALS            */
/* ---------------------------------- */

#testimonials {
  background-color: #f4e5e1;
}

#testimonials .test-img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #e56c1d;
  margin: auto;
}

.gallery {
  width: 10rem;
  height: 10rem;
  margin: 0.2rem;
  border: 2px solid #e56c1d;
  transition: all 0.3s;
}

.gallery:hover {
  transform: scale(1.05);
  overflow: hidden;
}

/* ---------------------------------- */
/*               FOOTER               */
/* ---------------------------------- */

.footer-img {
  width: 5rem;
  height: 5rem;
  border-radius: 40%;
}

.tel-nummer {
  text-decoration: none;
}

iframe {
  filter: grayscale(60%);
  border-radius: 1rem;
}
